@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');


body{
    width: 95%;
    max-width: 1400px;
    background-color: black;
    color: white;
    margin: auto;
    padding-top: 30px;
   
}

.nav-wrapper{
    display: flex;
}

.navbar-logo{
    border: 2px solid white;
    padding: .5rem;
    text-align: center;
    width: 100px;
    margin: auto auto auto 0;
    font-family: Crimson Pro;
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
}

nav>.nav-wrapper>ul>li{
    display: inline;
   padding-right: 44px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

nav>.nav-wrapper>ul>li:hover{
    font-weight: bold;
}

.main-container{
   
    margin:200px auto 0 auto;
    display: flex;
    justify-content: center;

}

.container-one>h1{
    
font-family: Lora;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 61px;

}

.container-one>p{
width: 400px;
text-align:left;
font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 29px;
}


.container-one>a{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    }

img{
 width:821px;
 float:right;
}



.container-two{
    width: inherit;
    width: 100%;
    
}

.profile-card{

 
   padding: .5rem;
   margin: auto;
   position: absolute;
   top: 815px;
   left:1490px ;
   width: 450px;
  


background: #181719;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.profile-pic{
    width: 65px;
    height: 65px;
    border-radius:50%;
    float:left;

}
table{
    padding: 4px 2px 8px 20px;
    width: 60%;
    height: 30%;
    
}

.pname{
    
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
}

.pdesig{
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 15px;
color: #828282;
}

.pcontent{
font-family: Lora;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 31px;
color: #FFFFFF;
width: 50%;
height:70px;
margin: 0 0 0 10px;
}


footer{
width: 70%;
margin: 300px auto 50px auto;
text-align: center;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
color: #A9A9A9;
}