@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');


body{
    background-color: black;
    color: white;
    width: 70%;
    margin: auto;
    padding-top: 30px;
   
}

.nav-wrapper{
    display: flex;
}

.navbar-logo{
    border: 2px solid white;
    padding: .5rem;
    text-align: center;
    max-width: 100px;
    margin: auto auto auto 100px;
    font-family: Crimson Pro;
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
}

nav>.nav-wrapper>ul>li{
    display: inline;
    margin-left: 110px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

nav>.nav-wrapper>ul>li:hover{
    font-weight: bold;
}

.container-one>h1{
    
font-family: Lora;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 61px;
margin-right: 90px;
}

.container-one>p{
max-width: 400px;
text-align:left;
font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 29px;
}

.image-display{
    width: 821.11px;
    height: 586.53px;
    background: url(/images/photo1.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.main-container{
    display: flex;
    justify-content: center;
    margin-top: 200px;
    float: right;
}

.container-two{
float:right;

}

.profile-card{
 
  padding: .5rem;
   margin: auto;
   position: relative;
   top: 530px;
   left:170px ;
   width: 400px;
   height: 138px;


background: #181719;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.profile-pic{
    width: 65px;
    height: 65px;
    border-radius:50%;

}
table{
    margin: auto auto auto 20px;
    width: 60%;
    height: 30%;
    
}

.pname{
    
    font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
}

.pdesig{
    font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 15px;
color: #828282;
}

.pcontent{
    font-family: Lora;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 31px;
color: #FFFFFF;
max-width: 50%;
margin: 0 0 0 10px;
}


footer{
max-width: 70%;
margin: 1100px auto 50px auto;
text-align: center;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
color: #A9A9A9;
}